<!-- sidebar -->
        	<aside id="sidebar">
        		
        		<ul>
	        		
	        		<li class="block">
		        		<h4 class="heading">Sponsors</h4>
		        		
						<div class="ads cf">
							<a href="http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz" class="last"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz" class="last"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
						</div>
	        		</li>
	        		
	        		<li class="block" id='sentence'>
	        			<h4 class="heading">每日一句</h4>
	        		</li>
	        		
	        		<li class="block" id='weather'>
		        		<h4 class="heading">天气</h4>
						
		        	</li>
        		</ul>
        		
        	</aside>
			<!-- ENDS sidebar -->