<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<link href="{{url_for('static',filename='blog/css/style.css')}}"" rel='stylesheet' type='text/css' />
</head>
<body>
		<div class="app-cam">
            <h1>App Sign In Form</h1>
			<form action="" method='POST'>
				<input type="text" class="text" name='username' value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'username';}" >
				<input type="password" value="Password" name='password' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
				<div class="submit"><input type="submit" onclick="myFunction()" value="Sign in" ></div>
                
            </form>
            <div class="clear"></div>
				<div class="buttons">
					<ul>
						<li><a href="{{url_for('login.weibo_login')}}" class="hvr-sweep-to-right">微博登录</a></li>
						<li><a href="{{url_for('login.weibo_login')}}" class="hvr-sweep-to-left">github登录</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="new">
					<p><a href="#">Forgot Password ?</a></p>
					<p class="sign">New here ?<a href="#"> Sign Up</a></p>
					<div class="clear"></div>
				</div>
			
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2019.Company name All rights reserved.</p>
		</div>
	<!--//end-copyright-->
</body>
</html>