{% extends 'base.html'%}
	{% block content %}
			
			<!-- posts list -->
			<div id="posts-list" class="cf"> 
			
				<article class="cf">
					<div class="feature-image">
						<a href="single.html"><img src="{{url_for('static',filename='img/dummies/672x400a.jpg')}}" alt="Thumbnail" /></a>
					</div>
					<div class="entry-title">
						<a href="single.html" class="post-heading">放牛班的村田</a>
						<div class="entry-date">JAN 23, 2012</div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					<div class="excerpt">
						安美奇直达天下广告平台将采用“云搜索”和“微广告”技术为大家提供精确的搜索直达服务和专业的广告宣传策划方案。大厅扭矩，生命之光，艺术之光，时间的静止，安特。当我永远爱你的时候，我就自由了。我的生命是Mauris Placerat Eleifend Leo.他坐在阿米特的东边，萨比安乌拉姆伯也走了。
					</div>	
					<a href="single.html" class="action-button">更多</a>	
				</article>
				
				<article class="cf">
					<div class="feature-image">
						<a href="single.html"><img src="{{url_for('static',filename='img/dummies/672x400b.jpg')}}" alt="Thumbnail" /></a>
					</div>
					<div class="entry-title">
						<a href="single.html" class="post-heading">大明王朝1853</a>
						<div class="entry-date">JAN 23, 2012</div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					<div class="excerpt">
						安美奇直达天下广告平台将采用“云搜索”和“微广告”技术为大家提供精确的搜索直达服务和专业的广告宣传策划方案。大厅扭矩，生命之光，艺术之光，时间的静止，安特。当我永远爱你的时候，我就自由了。我的生命是Mauris Placerat Eleifend Leo.他坐在阿米特的东边，萨比安乌拉姆伯也走了. 
					</div>	
					<a href="single.html" class="action-button">更多</a>	
				</article>
				
				<article class="cf">
					<div class="feature-image">
						<a href="single.html"><img src="{{url_for('static',filename='img/dummies/672x400c.jpg')}}" alt="Thumbnail" /></a>
					</div>
					<div class="entry-title">
						<a href="single.html" class="post-heading">大明王朝1853</a>
						<div class="entry-date">JAN 23, 2012</div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					<div class="excerpt">
						安美奇直达天下广告平台将采用“云搜索”和“微广告”技术为大家提供精确的搜索直达服务和专业.
					</div>	
					<a href="single.html" class="action-button">更多</a>	
				</article>
				
				
				<!-- page-navigation -->
				<div class="page-navigation cf">
					<div class="nav-next"><a href="#">以前的</a></div>
					<div class="nav-previous"><a href="#">新的</a></div>
				</div>
				<!--ENDS page-navigation -->

					
						
		    </div>
			<!-- ENDS posts list -->			
			
			
			<!-- sidebar -->
        	<aside id="sidebar">
        		
        		<ul>
	        		
	        		<li class="block">
		        		<h4 class="heading">Sponsors</h4>
		        		
						<div class="ads cf">
							<a href="#"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="#" class="last"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="#"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
							<a href="#" class="last"><img src="{{url_for('static',filename='img/dummies/themeforest.gif')}}" alt="Thumbnail" /></a>
						</div>
	        		</li>
	        		
	        		<li class="block">
	        			<h4 class="heading">文本小部件</h4>
						安美奇直达天下广告平台将采用“云搜索”和“微广告”技术为大家提供精确的搜索直达服务和专业的广告宣传策划方案。大厅扭矩，生命之光，艺术之光，时间的静止，安特。当我永远爱你的时候，我就自由了。我的生命是Mauris Placerat Eleifend Leo.他坐在阿米特的东边，萨比安乌拉姆伯也走了。前厅，安迪姆塞德，方便的生活，奥尔纳坐下，维斯
	        		</li>
	        		
	        		<li class="block">
		        		<h4 class="heading">目录</h4>
						<ul>
							<li class="cat-item"><a href="#" title="title">电影和歌曲<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">绘画<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">照片<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">原创<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">电影和歌曲<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">图画<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">照片和原创o<span class="post-counter"> (2)</span></a></li>
							<li class="cat-item"><a href="#" title="title">绘画<span class="post-counter"> (2)</span></a></li>
						</ul>
		        	</li>
        		</ul>
        		
        	</aside>
			<!-- ENDS sidebar -->
			
			
		</div>
		<!-- ENDS MAIN -->
		
		{% endblock %}
			
		